<h2>Library Books</h2>
<div class="row">
  Sort by:
  <button type="button" class = "btn btn-default btn-md" ng-click="order = 'title'">Title</button>
  <button type="button" class = "btn btn-default btn-md" ng-click="order = 'author'">Author</button>
</div>
  <hr>
  <input type="text" class="form-control" ng-model="searchText" placeholder="Search Books">
      <!-- <div ng-repeat="album in albumsIndexCtrl.albums | orderBy: 'name' | filter: searchText" class="row"> -->
  <hr>
<div class="row">
  <div ng-repeat="book in booksIndexCtrl.books | filter: searchText | orderBy: order">
    <div class="col-xs-12">
      <img class="img-responsive col-xs-6" ng-src={{book.image}} alt={{book.title + "cover page"}}>
      <div class="col-xs-6">
        <p>{{book._id}}</p>
        <h3><a href={{"/books/"+book._id}}>{{book.title}}</a></h3>
        <br>
        <br>
        <h5>{{"Written by " + book.author}}</h5>
        <h5>{{book.releaseDate}}</h4>
      </div>
    </div>
    <div class = "col-xs-12">
      <br>
    </div>
  </div>
</div>
